
# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.development
.env.production
.env.staging

# Nuxt generate
dist

# services/http.js
# utile/treeviewCommon.js
yarn.lock
package-lock.json
