@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#page {
  max-width: 1280px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.title_wrap {
  width: 100%;
}

.title_wrap h2 {
  text-align: left;
}

.todo_wrap {
  width: 100%;
  display: flex;
}

.todo_wrap > div {
  width: 50%;
}

.left,
.right {
  padding: 20px;
}

.left h3,
.right h3 {
  margin: 4px 12px;
}

.todo_list {
  padding: 12px;
  border: 1px solid;
  border-radius: 5px;
  margin: 0;
}

.create_todo_box {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 5px;
  padding: 18px;
  margin-top: 12px;
}

.end_todo_box {
  border: 1px solid;
  padding: 14px;
  margin-top: 12px;
  border-radius: 5px;
}

.filter_control {
  padding: 26px 12px 12px;
}

.filter_buttons {
  display: flex;
  justify-content: space-between;
}

.filter_buttons > div {
  display: flex;
}

.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  margin: 12px 0;
  padding: 8px 12px;
  border-radius: 5px;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px;
}

button {
  padding: 6px 14px;
  height: 35px;
  border-radius: 45px;
}

.form_control {
  padding: 6px 12px;
  margin: 8px 0;
}
